:root {
  --light: #f2f2f2;
  --medium: #f9f9fa;
  --dark: #f9f9fa;
  --font-color: #434348;
  --border-color: #e0e0e2;
}

.dark {
  --light: #353539;
  --medium: #2a2a2e;
  --dark: #1b1b1d;
  --font-color: #909090;
  --border-color: var(--light);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--light);
  font-family: sans-serif;
  color: var(--font-color);
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--dark);
}
tbody tr td {
  background-color: var(--medium);
  padding: 5px;
}
tbody tr:nth-child(2n) td {
  background-color: var(--light);
}
button {
  color: var(--font-color);
  border: 0;
  background-color: var(--medium);
}
button:hover {
  background-color: var(--light);
}
th, td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid var(--border-color);
}
.toolbar {
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--medium);
}
td.status {
  text-align: center;
}
th.status {
  width: 70px;
}
th.buttons {
  width: 160px;
}
td.buttons {
  text-align: center;
}
.status-bubble {
  padding: 2px;
  border-radius: 5px;
  color: white;
}
.ok .status-bubble {
  background-color: #21ba45;
}
.failed .status-bubble {
  background-color: #db2828;
}
.other .status-bubble {
  background-color: #767676;
}
